#app{
    width: 100%;
    height: 572px;
    display: flex;

}
#app>.image{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 100px;
    width: 300px;
    height: 350px;
}
#app>.rightbox{
    height: 376px;
    width: 40%;
    margin-top: 70px;

}
#app>.rightbox>h3{
    margin-top: 50px;
}
#app>.rightbox>.number{
    display: flex;
}

#app>.rightbox>.number>div{
    padding-top: 10px;
    width: 60%;
    border: 1px 
    /* border-radius: 4px;
    font-size: 25px; */
}

#app>.rightbox>.number>div>input{
    border: none;
    padding: 10px;
}

#app>.rightbox>.number>button{
    background-color: #14bef0;
    color: white;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

#app>.rightbox>.google{
    margin-top: 30px;
    display: flex;
}
#app>.rightbox>.google>img{
    width: 130px;
    height: 45px;
    margin-right: 15px;
}