
.heading{
    margin-top: 30px;
}

.heading h4{
    margin-bottom: 20px;
}
.heading p{
    margin-bottom: 20px;
}
.imageResponsive{
    height: 30vh;
    width:  20vw;
    margin-left: 5px; 
    transition: transform.5s;  
   border: 1px solid black;
}

.imageResponsive:hover{
  transform: scale(0.7);
border: 5px solid purple;

}

/* //----------------------------------------- */
/* /---------------control-btn-------------/ */
.control-btn button {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 2px;
  }
  
  .control-btn .next {
    position: absolute;
    top: 40%;
    right: -20px;
  }
  
  .control-btn .prev {
    position: absolute;
    top: 40%;
    left: -20px;
    z-index: 99;
  }
  .control-btn .icon {
    font-size: 25px;
    color: black;
  }
  /* /---------------control-btn-------------/ */

 