

.heading{
    margin-top: 30px;
}


.pimage{
  height: 40vh;
    width:  10vw;

 
}
.pcard{
 height: 30vh;
    width:  20vw;
    margin-left: 5px;
}
.pcard:hover{
  background-color: rgb(222, 228, 154);
  border: 2px solid brown;
}
.pcol{
 height: 70vh;
    width:  10vw; 
}

.pTitle{
height: 50px;
}

/* //----------------------------------------- */
/* /---------------control-btn-------------/ */
.control-btn button {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 2px;
  }
  
  .control-btn .next {
    position: absolute;
    top: 40%;
    right: -20px;
  }
  
  .control-btn .prev {
    position: absolute;
    top: 40%;
    left: -20px;
    z-index: 99;
  }
  .control-btn .icon {
    font-size: 25px;
  }
  /* /---------------control-btn-------------/ */
