.bgColor{
    background-color: #E6F5FC;
    height: 80px;
    width: 100%;
    border-radius: 10px;

}

.rounded-circle1{
    height: 60px;
    width: 60px;
}

.bgcoloOffer{
    height: 100px;
    width: 100%;
}

.imgHight{
    height: 10px;
    width: 100px;
}

.msTitle{
    margin-left: 130px;
}