
.bookBackground{
   background-color: #F6F6F9;
   height: 530px;
   width: 100%;
}

.mt-6{
 margin-top: 100px;
}
.mt-7{
 margin-top: 85px;
}

.borderWhy {
  
   width: 120px;
   height: 3px;
   background: rgb(255, 168, 37);
   margin: 10px auto;
 }